<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div id="game_box">
            <div id="myBoard">
            </div>
            <div id="info_box">
                <div id="text_box">
                    <div class="text_sub_box">
                        <p><label>Status<span id="status"></span></label></p>
                    </div>
                    <div class="text_sub_box">
                        <p><label>Time Left<span id="timer"></span></label></p>
                    </div>
                    <div class="text_sub_box">
                        
                        <p ><label>PGN<span id="pgn"></span></label></p>
                    </div>
                    <button id="startBtn">Start Game</button>
                </div>
                
                </div>
            </div>
        </div>
        <script>
            let playerColor = '{{color}}';
            console.log('Playing as ' + playerColor);
        </script>
        <script src="/public/js/index.js"></script>

    </body>
</html>